<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>PI IV</title>
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
         <!-- Intro -->
    <section class="intro">
        <img src="../public/images/grao.png" alt="100px" class="imagem-transparente">
    </section>
        
        <div class="container"> 
            <h1>Error 404</h1>
            <h1>Oops! Pagina indisponivel!🌵</h1>
            <p>Lamentamos, mas a página que você está procurando não foi encontrada.</p>
        </div>
        
    </body>
</html>
