<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>PI IV</title>
</head>
<body>
    <!-- Navigation bar -->
    <header>
        <h1 class="logo">Crop Talk</h1>
        <nav>
            <ul class="navLinks">
                <li><a href="#">Entrar</a></li>
                <li><a href="#">Cadastre-se</a></li>
            </ul>
        </nav>
    </header>

    <!-- Intro -->
    <section class="intro">
        <img src="../public/images/drone.jpg">

        <div id="introDesc">
            <p>
                <strong>DESCUBRA O SUCESSO</strong> com tratamentos e ferramentas específicas para o seu negócio com o nosso agro quiz!
            </p>
            <p style="font-size: 20px;">
                <strong>não leva mais que 2 minutos!</strong>
            </p>
            <a id="introLink" href="#">Faça agora</a>
        </div>
    </section>

    <!-- Cards -->
    <section class="Cards">
        <div>
            <img src="#">
            <h3>Sobre nós</h3>
        </div>
        <div>
            <img src="#">
            <h3>Parceiros</h3>
        </div>
        <div>
            <img src="#">
            <h3>Comunidade</h3>
        </div>
    </section>

    <!-- About-Us -->
    <section class="About">
        <h2>Sobre nós</h2>
        <p>Somos uma empresa especializada no sucesso do seu negócio!</p>
        <ul>
            <li>Temos os melhores parceiros do mercado com produtos excelentes para tratamento.</li>
            <li>Descobrimos o seu problema e entregamos a solução em minutos.</li>
            <li>Temos foco em resultado e a satisfação do cliente sempre em primeiro lugar.</li>
        </ul>
    </section>

    <!-- Seeding the Future -->
    <section class="Seeding">
        <h2>Juntos Plantamos o Futuro</h2>
        <div>
            <a href="#">Sugestão</a>
            <a href="#">Comunidade</a>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="footerContainer">
            <div class="description">
                <h2>Crop Talk</h2>
                <p>Empresa Brasileira com soluções tecnológicas em busca de trazer o baixo custo e melhor rendimento a sua fazenda</p>
            </div>
        </div>
        <div class="footerContainer">
            <ul class="Social">
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </footer>

</body>
</html>