<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/quiz.css">
    <title>PI IV</title>
</head>
<body>
    <form action="post">
        <!-- Navigation bar -->
        <header>
            <div id="logoContainer">
                <img src="../public/images/logo.jpg">
                <a class="logo" href="index.html">Crop Talk</a>
            </div>
            
            <nav>
                <ul class="navLinks">
                    <li><a href="login.html">Entrar</a></li>
                    <li><a href="register.html">Cadastre-se</a></li>
                </ul>
            </nav>
        </header>

        <!-- Title Section 01 -->
        <section id="textSection">
            <div>
                <h2>1 - Qual o tipo do seu negócio?</h2>
                <p>Usaremos essa informação para adequar a interface as suas necessidades</p>
            </div>
        </section>

        <!-- Cards Section -->
        <section class="CardsSection">
            <button class="Cards" href="#">
                <img src="../public/images/Jardim.jpg">
                <h3>Jardim</h3>
            </button>
            <button class="Cards" href="#">
                <img src="../public/images/Sitio.jpg">
                <h3>Sítio</h3>
            </button>
            <button class="Cards" href="comunity.html">
                <img src="../public//images/Fazenda.jpg">
                <h3>Fazenda</h3>
            </button>
        </section>

        <!-- Title Section 02 -->
        <section id="textSection">
            <div>
                <h2>2 - Qual problema você está enfrentando?</h2>
                <p>Descreva em detalhes o problema enfrentado?</p>

                <input type="text" placeholder="digite">
            </div>
        </section>

        <section id="buttonSection">
            <button type="submit">Enviar</button>
        </section>
        
    </form>
    

    <!-- Footer -->
    <footer>
        <div class="footerContainer">
            <div class="description">
                <h2>Crop Talk</h2>
                <p>Empresa Brasileira com soluções tecnológicas em busca de trazer o baixo custo e melhor rendimento a sua fazenda</p>
            </div>
        </div>
        <div class="footerContainer">
            <ul class="Social">
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>
        </div>
    </footer>

</body>
</html>