@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* Default */
body {
    margin: 0px;
    padding: 0px;
    background-color: #fefae0;
    font-family: 'Overlock', cursive;
}

section {
    display: flex;
    position: relative;
    top: 200px;
    height: 500px;
    background: #a9b388;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 0px;
}


/* Header */
header {
    position: relative;
    display: flex;
    background: #a9b388;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    margin-bottom: -150px;
}

#logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 190px;
}

#logoContainer img {
    width: 50px;
    height: 50px;
}

li, a {
    font-weight: 300;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    background: #a9b388;
    font-size: 30px;
    color: black;
}

.navLinks {
    list-style: none;
    background-color: #a9b388;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
    background: #a9b388;
}

a {
    background: #5f6f52;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fefae0;
}

.navLinks li a {
    background: #a9b388;
    color: black;
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    padding: 10px 20px;
    text-decoration: none;
    background: #5f6f52;
    color: #fefae0;
}


/* Footer */
footer {
    position: relative;
    display: flex;
    margin-top: 100px;
    bottom: 0px;
    height: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 400px;
}

footer, footer * {
    background-color: #b99470;
    color: #fefae0;
}

.description {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.description h2 {
    font-size: 30px;
}