<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/communityPost.css" />
    <title>PI IV</title>
  </head>
    <body>
    <!-- Navigation bar -->
        <header>
            <div id="logoContainer">
            <img src="../../public/images/logo.jpg" />
            <a class="logo" href="index.html">Crop Talk</a>
            </div>

            <nav>
                <ul class="navLinks"></ul>
            </nav>
        </header>

        <section id ="welcomeSection">
            <div>
                <h3>Bem vindo a comunidade!</h3>

            </div>
        </section>

        <section id = "sectionTop">
            <nav>
                <ul class="navLinks">
                    <li><a href="">TÓPICOS RECENTES</a></li>
                    <li><a href="">TÓPICOS MAIS ACESSADOS</a></li>
                    <li><a href="">SEM RESPOSTAS</a></li>
                </ul>
            </nav>
        </section>

        <section id = "sectionContent">            

            <div id = plus>
                <img src = "../../public/images/plus.png"/>
            </div>
            <div id = newTopics>
            <h3>Novos Tópicos</h3>
            </div>

            <div id = "search">
                <a href="https://www.bing.com">
                    <img src = "../../public/images/lupa.png"/>
                </a>
            
            
                <form id="imputSearch">
                    <input type="imputSearch" id="imputSearch" name="imputSearch" required />
                    <label for="imputSearch"></label>

                </form>


            </div>
        </section>


    

        <section id = "sectionBackgroundContent">
            
            <div class="Cards" href="#">
                <h1>Para que a solução:</h1>
                <form>
                    <div>
                      <input type="radio" id="pragas1" name="opcao" value="pragas" />
                      <label for="pragas1">Pragas</label>
                    </div>
                    <div>
                      <input type="radio" id="solo1" name="opcao" value="solo" />
                      <label for="solo1">Solo</label>
                    </div>
                    <div>
                      <input type="radio" id="irrigacao1" name="opcao" value="irrigacao" />
                      <label for="irrigacao1">Irrigação</label>
                    </div>
                    <div>
                      <input type="radio" id="outros1" name="opcao" value="outros" />
                      <label for="outros1">Outros</label>
                    </div>
                  </form>
                
                <h3>Qual a sua solução?</h3>
                    <div></div> <!-- espaço para digitar -->
                
                <h3>Como deve ser aplicado?</h3> <!-- espaço para digitar -->
                    <div></div> <!-- espaço para digitar -->

                <div class="BtnDiv">
                    <button type="submit">Enviar</button>
                    </div>


                  
                
                  
                
                
            
            </div>

        </section>



        <!-- Footer -->
        <footer>
            <div class="footerContainer">
                <div class="description">
                    <h2>Crop Talk</h2>
                    <p>
                    Empresa Brasileira com soluções tecnológicas em busca de trazer o
                    baixo custo e melhor rendimento a sua fazenda
                    </p>
                </div>
            </div>
            <div class="footerContainer">
                <ul class="Social">
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </footer>
    
    </body>

</html>