<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles.css" />
    <link rel="stylesheet" href="../../public/comunity.css" />
    <title>PI IV</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <header>
      <div id="logoContainer">
        <img src="../../public/images/logo.jpg" />
        <a class="logo" href="index.html">Crop Talk</a>
      </div>

      <nav>
        <ul class="navLinks">
          <li><a href="login.html">Entrar</a></li>
          <li><a href="register.html">Cadastre-se</a></li>
        </ul>
      </nav>
    </header>

    <!-- Footer -->
    <footer>
      <div class="footerContainer">
        <div class="description">
          <h2>Crop Talk</h2>
          <p>
            Empresa Brasileira com soluções tecnológicas em busca de trazer o
            baixo custo e melhor rendimento a sua fazenda
          </p>
        </div>
      </div>
      <div class="footerContainer">
        <ul class="Social">
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
