<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles.css">
    <link rel="stylesheet" href="../../public/solutions.css">
    <script src="validationsSolutions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Soluções</title>
</head>
<body>
    <!-- Navigation bar -->
    <header>
        <div id="logoContainer">
            <img src="../../public/images/logo.jpg">
            <a class="logo" href="index.html">Crop Talk</a>
        </div>
        
        <nav>
            <ul class="navLinks">
                <li><a href="login.html">Entrar</a></li>
                <li><a href="register.html">Cadastre-se</a></li>
            </ul>
        </nav>
    </header>

    <!-- Welcome Section -->
    <section id="welcomeSection">
        <div>
            <h3>Faça seu login para usar nossas funcionalidades!</h3>
        </div>
    </section>

    <!-- Section Solution -->
    <section class="Solutions">
        <h2 id="title">Envie sua solução:</h2>
        <form class="solutions" onsubmit="validateFormSolutions(event)">
            <h2>Para que é a solução?</h2>

            <div class="RadioDiv">
                <span>
                    <input class="radioInput" id="praga" type="radio" name="tipoSolução" value="Praga" required>
                    <label for="praga">Praga</label>
                </span>
                
                <span>
                    <input class="radioInput" id="solo" type="radio" name="tipoSolução" value="Solo" required>
                    <label for="solo">Solo</label>
                </span>
                
                <span>
                    <input class="radioInput" id="irrigacao" type="radio" name="tipoSolução" value="Irrigacao" required>
                    <label for="irrigacao">Irrigação</label>
                </span>
            </div>

            <div class="TextField" id="text1">
                <h2>Qual a sua solução?</h2>
                <input type="text" id="solution" required>
            </div>
            <div class="TextField" id="text2">
                <h2>Como deve ser aplicado?</h2>
                <textarea type="text" placeholder="digite"></textarea>
            </div>

            <div id="buttonDiv">
                <button type="submit">Enviar</button>
            </div>
            <div id="errorMessages" class="error-message"></div>
        </form>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footerContainer">
            <div class="description">
                <h2>Crop Talk</h2>
                <p>Empresa Brasileira com soluções tecnológicas em busca de trazer o baixo custo e melhor rendimento a sua fazenda</p>
            </div>
        </div>
        <div class="footerContainer">
            <ul class="Social">
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>
        </div>
    </footer>

</body>
</html>