<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Chat GPT</title>
  <link rel="stylesheet" href="../static/css/chatgpt.css">
</head>
<body>

  <!-- Chat Container -->
  <div id="chatContainer" class="content">
    <div id="remainingQuestions" class="remaining-questions">5 perguntas/5</div>
    <textarea id="result" rows="20" disabled placeholder="" ;></textarea>
    <div class="input-container">
      <textarea id="inputQuestion" placeholder="Digite sua pergunta aqui" style="width: 100%;"></textarea>
      <button id="sendButton">Enviar</button>
    </div>
  </div>
  
  <title>Minha Página</title>
  <style>
     
      
      .move-down {
          margin-top: 90px; /* Move para baixo */
          margin-left: 120px; /* Move para a direita */
          padding: 10px; /* Espaçamento interno */
      }
  </style>
</head>
<body>
  <h1></h1>
  
  <!-- textanalise -->
<div id="textanalise" class="content">

    <strong>Resultado da análise 🌿</strong>
    <p> Considerando as informações fornecidas, este é o nosso diagnóstico e recomendação.</p>
  </div>

  <!-- imagem -->
  <img class="imagem-transparente move-down" src="../static/images/ia.jpg" alt="Descrição da imagem" width="480" height="550">
</body>


  <!--button upgrade -->
  <div id="button" class="content">
    <button id="sendButton">upgrade</button>
  </div>

  <script src="../static/js/script.js"></script>
</body>
</html>
