<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/communityCards.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/validationsCommunity.js"></script>
    <title>PI IV</title>
  </head>

</head>
<body>
  <!-- Navigation bar -->
  <header>
    <div id="logoContainer">
      <img src="../static/images/logo.jpg" />
      <a class="logo" href="/">Crop Talk</a>
    </div>

    <nav>
      <ul class="navLinks">

      </ul>
    </nav>
  </header>

  <section id ="welcomeSection">
    <div>
        <h3>Bem vindo a comunidade!</h3>

    </div>
  </section>
  <!-- Navigation bar dos tópicos -->
  <section id = "sectionTop">
    <nav>
      <ul class="navLinks">
        <li><a href="">TÓPICOS RECENTES</a></li>
        <li><a href="">TÓPICOS MAIS ACESSADOS</a></li>
        <li><a href="">SEM RESPOSTAS</a></li>
      </ul>
    </nav>
  </section>

  <!-- Seção de barra de pesquisa + novos tópicos -->
  <section id = "sectionContent"> 
    <!-- Novos tópicos -->
    <div id = "plus">
      <a href="/solutions"><img src = "../static/images/plus.png"/></a>
    </div>

    <div id = "newTopics">
      <a href="/solutions"><h3>Novos Tópicos</h3></a>
    </div>

    <!-- Pesquisa -->
    <div id = "search">
      <a href="/solutions"> <!-- Aqui tem que direcionar o que foi colocado na barra de pesquisa para achar o tópico pesquisado -->
        <img src = "../static/images/lupa.png"/>
      </a>      
      
      <form id="imputSearch">
        <input type="imputSearch" id="imputSearch" name="imputSearch" required />
          <label for="imputSearch"></label>

      </form>


    </div>

  </section>

  
  <!-- Seção dos cards e que gera eles -->
  <section class="sectionBackgroundContent" id = "sectionBackgroundContent">

    
  
  </section>
  
    <!-- Linka com o script que gera os cards -->

 



  <!-- Footer -->
  <footer>
    <div class="footerContainer">
      <div class="description">
        <h2>Crop Talk</h2>
        <p>
          Empresa Brasileira com soluções tecnológicas em busca de trazer o
          baixo custo e melhor rendimento a sua fazenda
        </p>
      </div>
    </div>
    <div class="footerContainer">
      <ul class="Social">
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Twitter</li>
      </ul>
    </div>
  </footer>
 
</body>