<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>PI IV</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <header>
      <div id="logoContainer">
        <img src="../static/images/logo.jpg" />
        <a class="logo" href="/">Crop Talk</a>
      </div>

      <nav>
        <ul class="navLinks">
          <li><a href="login">Entrar</a></li>
          <li><a href="register">Cadastre-se</a></li>
        </ul>
      </nav>
    </header>

    <!-- Intro -->
    <section class="intro">
      <img src="../static/images/drone.jpg" />

      <div id="introDesc">
        <p>
          <strong>DESCUBRA O SUCESSO</strong> com tratamentos e ferramentas
          específicas para o seu negócio com o nosso agro quiz!
        </p>
        <p style="font-size: 20px">
          <strong>não leva mais que 2 minutos!</strong>
        </p>
        <div>
          <a id="introLink" href="quiz">Faça agora</a>
        </div>
      </div>
    </section>

    <!-- Cards -->
    <section class="cardsSection">
      <a class="cards" href="#">
        <img src="../static/images/agroTech.png" />
        <h3>Sobre nós</h3>
      </a>
      <a class="cards" href="#">
        <img src="../static/images/colheita.png" />
        <h3>Parceiros</h3>
      </a>
      <a class="cards" href="community">
        <img src="../static/images/plantacao01.png" />
        <h3>Comunidade</h3>
      </a>
    </section>

    <!-- About-Us -->
    <section class="Info">
      <h2>Sobre nós</h2>
      <p><strong>Somos uma empresa especializada no sucesso do seu negócio!</strong></p>
      <ul>
        <li>Temos os melhores parceiros do mercado com produtos excelentes para tratamento.</li>
        <li>Descobrimos o seu problema e entregamos a solução em minutos.</li>
        <li>Temos foco em resultado e a satisfação do cliente sempre em primeiro lugar.</li>
      </ul>
    </section>

    <!-- Seeding the Future -->
    <section class="Seeding">
      <div class="ImgOverlay">
        <h2>Juntos Plantamos o Futuro</h2>
        <div>
          <a id="LinkSugestao" href="solutions">Sugestão</a>
          <a id="LinkComunidade" href="community">Comunidade</a>
        </div>
      </div>
    </section>

    <!-- Partnerships -->
    <section class="Info">
      <h2>Parceiros</h2>
      <p><strong>Temos importantes parceiros no ramo do agronegócio!</strong></p>
      <ul>
        <li>Empresa 1</li>
        <li>Empresa 2</li>
        <li>Empresa 3</li>
      </ul>
    </section>

    <!-- Footer -->
    <footer>
      <div class="footerContainer">
        <div class="description">
          <h2>Crop Talk</h2>
          <p>
            Empresa Brasileira com soluções tecnológicas em busca de trazer o
            baixo custo e melhor rendimento a sua fazenda
          </p>
        </div>
      </div>
      <div class="footerContainer">
        <ul class="Social">
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
