<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/chatgpt.css">
</head>

<body>
  <h1></h1>

  <!-- Estrutura do Modal com Container de Chat -->
  <div id="chatModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeChatModal">&times;</span>
      <div id="chatContainer" class="content">
        <div id="remainingQuestions" class="remaining-questions">5 perguntas/5</div>
        <textarea id="result" rows="20" disabled placeholder=""></textarea>
        <div class="input-container">
          <textarea id="inputQuestion" placeholder="Digite sua pergunta aqui" style="width: 100%;"></textarea>
          <button id="sendButton">Enviar</button> 
        </div>
      </div>
    </div>
  </div>
    <link rel="stylesheet" href="../static/css/quiz.css" />
    <script src="../static/js/script.js"></script> 
    <script src="../static/js/validationsIaQuestion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>PI IV</title>  
  </head>
  <body>
    <!-- Navigation bar -->
    <header>
      <div id="logoContainer">
        <img src="../static/images/logo.jpg" />
        <a class="logo" href="/">Crop Talk</a>
      </div>

      <nav>
        <ul class="navLinks">
          <li><a href="login">Entrar</a></li>
          <li><a href="register">Cadastre-se</a></li>
        </ul>
      </nav>
    </header>

    <form action="post" onsubmit="validateFormQuestion(event)">
      <!-- Title Section 01 -->
      <section id="textSection">
        <div>
          <h2>1 - Qual o tipo do seu negócio?</h2>
          <p>
            Usaremos essa informação para adequar a interface as suas
            necessidades
          </p>
        </div>
      </section>

      <!-- Cards Section -->
      <section class="CardsSection">

        <div class="Cards">
          <img src="../static/images/Jardim.jpg" />
          <input class="radioInput" id="Jardim" type="radio" name="tipoPropriedade" value="Tenho um Jardim e " >
          <label for="Jardim">Jardim</label>
        </div>

        <div class="Cards">
          <img src="../static/images/Sitio.jpg" />
          <input class="radioInput" id="Sitio" type="radio" name="tipoPropriedade" value="Tenho um Sitio e" >
          <label for="Sitio">Sítio</label>
        </div>

        <div class="Cards">
          <img src="../static/images/Fazenda.jpg" />
          <input class="radioInput" id="Fazenda" type="radio" name="tipoPropriedade" value="Tenho uma Fazenda e">
          <label for="Fazenda">Fazenda</label>
        </div>

      </section>

      <!-- Text Section -->
      <section id="textSection">
        <div>
          <h2>2 - Qual problema você está enfrentando?</h2>
          <p>Descreva em detalhes o problema enfrentado?</p>

          <textarea type="text" placeholder="digite" required></textarea>
        </div>
      </section>

      <section id="buttonSection">
        <button id="openChatModal"  type="submit">Avançar</button> 
      </section>

          <div id="errorMessages" class="error-message"></div> 
          
    </form>

    

    <script>
      // Obtém todos os elementos de radio com a classe 'radioInput'
const radioButtons = document.querySelectorAll('.radioInput');
const textArea = document.querySelector('#textSection textarea');

// Adiciona um ouvinte de evento de mudança para cada botão de radio
radioButtons.forEach(function(radioButton) {
  radioButton.addEventListener('change', function(event) {
    // Obtém o valor do botão de radio selecionado e insere na área de texto
    textArea.value = event.target.value;
  });
});

      // Seleciona o elemento <textarea> dentro do textSection
      const textSectionTextarea = document.querySelector('#textSection textarea');
      const inputQuestionTextarea = document.getElementById('inputQuestion');
  
      // Adiciona um ouvinte de eventos para capturar a entrada de texto no textSection
      textSectionTextarea.addEventListener('input', function() {
        // Atualiza o conteúdo do inputQuestion com o texto inserido no textSection
        inputQuestionTextarea.value = textSectionTextarea.value;
      });
    </script>

    
<script>
  // JavaScript para controlar o Modal
  const openChatModalBtn = document.getElementById('openChatModal');
  const chatModal = document.getElementById('chatModal');
  const closeChatModalBtn = document.getElementById('closeChatModal');

  openChatModalBtn.addEventListener('click', function() {
    chatModal.style.display = 'block';
  });

  closeChatModalBtn.addEventListener('click', function() {
    chatModal.style.display = 'none';
  });

  window.onclick = function(event) {
    if (event.target == chatModal) {
      chatModal.style.display = 'none';
    }
  };7
</script>


    <!-- Footer -->
    <footer>
      <div class="footerContainer">
        <div class="description">
          <h2>Crop Talk</h2>
          <p>
            Empresa Brasileira com soluções tecnológicas em busca de trazer o
            baixo custo e melhor rendimento a sua fazenda
          </p>
        </div>
      </div>
      <div class="footerCon tainer">  
        <ul class="Social">
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
